# *******************************************************************************
# Licensed Materials - Property of HCL
# (c) Copyright HCL Technologies Ltd. 2024. All Rights Reserved.
#
# Note to U.S. Government Users Restricted Rights:
# Use, duplication or disclosure restricted by GSA ADP Schedule
# *******************************************************************************

replicaCount: 1

global:
  uno:
    engineHost: ""
    enginePort: ""
  
  hclImagePullSecret: regcred

# Channels Configuration
channels:
  ### Slack Configuration ###
  slackToken: ""
  slackSigningSecret: ""
  slackChannel: ""
  
  ### Google Chat Configuration ###
  googleProjectId: ""

  ### Microsoft Teams Configuration ###
  botframeworkAppId: ""
  botframeworkAppPassword: ""

  ### To disable group check of the OIDC provider. ###
  # To be enabled when the OIDC provider is not setup with the same LDAP/User provider of the channels and is not possible to add user to it manually
  # so the email of the configured channels are manually added in the ACL
  groupless:  "false"

translation:
  # Configuration for the Azure Translation API
  azure:
    # The Subscription Key for the Azure Translation API
    subscriptionKey: ""
    # The Region for the Azure Translation API
    region: ""
    # The Translation API Endpoint
    endpoint: ""

  # Configuration for the Google Translation API
  google:
    # The Credentials json file for the Google Translation API encoded in base64
    credentials: ""

#Version Tracking
track: dev

# Pilot Core Configuration
pilotCore:
  # Name of the core service
  name: core
  #Image name
  imageName: core
  # Deployment strategy
  strategy:
    type: Recreate
  # The port on which the core service will be exposed
  port: 5005
  # The number of replicas for the core service
  replicaCount: 1
  # Resource Configuration
  resources:
    limits:
      cpu: 1000m
      memory: 2500Mi
    requests:
      cpu: 500m
      memory: 2000Mi

# Configuration for the NLG service
pilotNlg:
  # Name of the NLG service
  name: nlg
  # Image name
  imageName: core
  # Deployment strategy
  strategy:
    type: Recreate
  # The port on which the NLG service will be exposed
  port: 5001
  # The number of replicas for the NLG service
  replicaCount: 1
  # Resource Configuration
  resources:
    limits:
      cpu: 500m
      memory: 500Mi
    requests:
      cpu: 100m
      memory: 300Mi

# Configuration for the Actions service
pilotActions:
  # Name of the Actions service
  name: actions
  # Image name
  imageName: core
  # Deployment strategy
  strategy:
    type: Recreate
  # The port on which the Actions service will be exposed
  port: 5055
  # The number of replicas for the Actions service
  replicaCount: 1
  # Resource Configuration
  resources:
    limits:
      # Maximum CPU allocation
      cpu: 300m
      # Maximum memory allocation
      memory: 300Mi
    requests:
      # Minimum CPU allocation
      cpu: 100m
      # Minimum memory allocation
      memory: 200Mi

certificates:
  # No enable if you want to use customized certificates
  useCustomizedCert: false 
  # The secret name containing the CA to be used to sign the certificatesSecret
  caPairSecretName:
  # To enable if you want to use a custom issuer
  customIssuer: false
  # The organization name for the certificates
  organization: hcl
  # To select the duration before the certificates are renewed
  renewBefore: 360h
  # The duration for which the certificates are valid
  duration: 2160h
  # If you are using a custom issuer, specify the issuer name
  issuerName: ""
  # The secret name of the certificates secret
  certSecretName : ""


#To add configuration for the authorization mechanism
authorization:
  #EXAMPLE HCL_AUTHORIZATION_HTTPS___PILOT_CORE_5005: <secret-name >
  certs:
    #HCL_AUTHORIZATION_HTTPS___PILOT_CORE_5005: pilot-cert
    #HCL_AUTHORIZATION_HTTPS___WAJWT_API: /opt/certs/jwt/uno-jwt.crt
    #HCL_AUTHORIZATION_HTTPS___WAJWT_APIGATEWAY: /opt/certs/jwt/uno-jwt.crt
    #HCL_AUTHORIZATION_TEST: /opt/certs/jwt/pilot-jwt.crt

  # TO ENABLE OIDC AUTHENTICATION
  oidcServerURL: ""

# Configuration for the images used in the deployment
image:
  # The registry where the image is hosted
  repository: hclcr.io/slt/uno
  # The tag/version of the images
  tag: 2.1.0.0
  # The Pull Policy for the images
  imagePullPolicy: Always

# to configure if you want a custom service account
serviceAccount:
  name: ""
  create: false

# If you don't want to use the .Release.Name as the prefix on the name of the service specify the name here
nameOverride: ""

# To add any additional labels to the deployment
podAnnotations: {}

# To configure the security context for the deployment
podSecurityContext: {}

# To configure the node selector for the deployment
nodeSelector: {}

# To configure the tolerations for the deployment
tolerations: []

# To configure the affinity for the deployment
affinity: {}

additionalPullSecret : ""

postgres:
  postgresUser: aipilot
  #The postgres port
  postgresPort : "5432"
  #The postgres database name used by the application
  postgresDB: "rasa"
  #The postgres service name
  postgresService: '{{ printf "%s-%s" .Release.Name "pg-db" | trunc 21 | trimSuffix "-"  }}-primary'
  connectTimeout: "60"
  # Application name to be used in the Postgres connection
  applicationName: "agenticbuilder-app"
  # Additional connection options
  options: ""
  # Client Required Authentication for Postgres connection ( scram-sha-256, md5, password, gss, sspi, ident, peer, ldap, none)
  requiredAuthentication : "scram-sha-256"
  #The postgres user password
  postgresPassword: "" 
  #postgresPasswordSecretName: '{{ .Release.Name }}-postgres-password'
  #postgresPasswordSecretKey: "password"
  # Only to let the init container create the database "$postgresDB" if it does not exist
  initDatabases: true
  postgresAdminUserSecretName: '{{ printf "%s-%s" .Release.Name "pg-db" | trunc 21 | trimSuffix "-"  }}-pguser-postgres'
  postgresAdminUserSecretKey: "user"
  postgresAdminPasswordSecretName: '{{ printf "%s-%s" .Release.Name "pg-db" | trunc 21 | trimSuffix "-"  }}-pguser-postgres'
  postgresAdminPasswordSecretKey: "password"
  
  ssl:
    enabled: "true"
    # Client Configuration for Mutual TLS
    certSecretName: ""
    #By default the SecretKey is "tls.crt", you can override it by specifying the
    certSecretKey: ""
    certKeySecretName: ""
    #By default the SecretKey is "tls.key", you can override it by specifying the
    certKeySecretKey: ""
    
    certKeyPassword: ""
    # Optional CA for Mutual TLS, If not provided the trustore CA will be used
    certCaSecretName: ""
    # By default the SecretKey is "ca.crt", you can override it by specifying the
    certCaSecretKey: ""
    # Client Configuration for One-way TLS to verify server certificate
    caSecretName: '{{ printf "%s-%s" .Release.Name "pg-db" | trunc 21 | trimSuffix "-"  }}-cluster-cert'
    # By default the SecretKey is "ca.crt", you can override it by specifying the caSecretKey
    caSecretKey: "" 
    # SSL Mode for Postgres connection ( disable, allow, prefer, require, verify-ca, verify-full)
    sslMode : "prefer"
    # Whether to validate the hostname in the Postgres certificate
    hostnameValidation : "true"

##### SubChart Configuration #####


# Configuration for the rag subchart
rag:
  port: 9999
  # Certificates Configuration
  certificates:
    # To enable if you want to use customized certificates
    useCustomizedCert: false
    # To enable if you want to use a custom issuer
    customIssuer: false
    # If you are using a custom issuer, specify the issuer name
    issuerName: ""
    # The organization name for the certificates
    organization: hcl
    # To select the duration before the certificates are renewed
    renewBefore: 360h
    # The duration for which the certificates are valid
    duration: 2160h
    # The secret name containing the CA to be used to sign the certificatesSecret 
    # By default, it uses the same CA created by the core service
    caPairSecretName: "{{ .Release.Name }}-aipilot-selfsigned-ca"

  # Configuration for the rag image
  container:
    # The registry where the image is hosted
    registry: "hclcr.io/slt/uno"
    # The tag used in the image
    tag: 2.1.0.0  
    # The image name
    image: "hcl-aipilot-backend"
  # The name of the service of the pgvector
  vectordb:
    name: '{{ printf "%s-%s" .Release.Name "pg-db" | trunc 21 | trimSuffix "-"  }}-primary'
  # The name of the service of the rag
  app:
    name: "rag-service"  # App name
  # The postgres user that will be used by the rag service
  config:
    POSTGRES_USER: "agenticbuilder"
  
  # Authorization Configuration #
  #By default, It will enable core jwt and any jwt signed by the oidc server 
  authorization:
      # JWKS endpoint configuration
      other:
        HCL_AUTHORIZATION_HTTPS___PILOT_CORE_5005: "https://{{ .Release.Name }}-core:5005/jwks"
      # The OIDC server URL (make sure to not include the realms in the url)
      oidcServerURL: "https://uno-keycloak-ssl:8843"
  postgres:
    postgresUser: ragUser
    #The postgres port
    postgresPort : "5432"
    #The postgres database name used by the application
    postgresDB: "vector_db"
    #The postgres service name
    postgresService: '{{ printf "%s-%s" .Release.Name "pg-db" | trunc 21 | trimSuffix "-"  }}-primary'
    connectTimeout: "60"
    # Application name to be used in the Postgres connection
    applicationName: "rag-app"
    # Additional connection options
    options: ""
    # Client Required Authentication for Postgres connection ( scram-sha-256, md5, password, gss, sspi, ident, peer, ldap, none)
    requiredAuthentication : "scram-sha-256"
    #The postgres user password
    postgresPassword: "" 
    #postgresPasswordSecretName: '{{ .Release.Name }}-postgres-password'
    #postgresPasswordSecretKey: "password"
    # Only to let the init container create the database "$postgresDB" if it does not exist
    initDatabases: true
    postgresAdminUserSecretName: '{{ printf "%s-%s" .Release.Name "pg-db" | trunc 21 | trimSuffix "-"  }}-pguser-postgres'
    postgresAdminUserSecretKey: "user"
    postgresAdminPasswordSecretName: '{{ printf "%s-%s" .Release.Name "pg-db" | trunc 21 | trimSuffix "-"  }}-pguser-postgres'
    postgresAdminPasswordSecretKey: "password"
    
    ssl:
      enabled: "true"
      # Client Configuration for Mutual TLS
      certSecretName: ""
      #By default the SecretKey is "tls.crt", you can override it by specifying the
      certSecretKey: ""
      certKeySecretName: ""
      #By default the SecretKey is "tls.key", you can override it by specifying the
      certKeySecretKey: ""
      
      certKeyPassword: ""
      # Optional CA for Mutual TLS, If not provided the trustore CA will be used
      certCaSecretName: ""
      # By default the SecretKey is "ca.crt", you can override it by specifying the
      certCaSecretKey: ""
      # Client Configuration for One-way TLS to verify server certificate
      caSecretName: '{{ printf "%s-%s" .Release.Name "pg-db" | trunc 21 | trimSuffix "-"  }}-cluster-cert'
      # By default the SecretKey is "ca.crt", you can override it by specifying the caSecretKey
      caSecretKey: "" 
      # SSL Mode for Postgres connection ( disable, allow, prefer, require, verify-ca, verify-full)
      sslMode : "prefer"
      # Whether to validate the hostname in the Postgres certificate
      hostnameValidation : "true"

pgdb:
  crVersion: "v1"
  image: "docker.io/percona/percona-postgresql-operator:2.7.0-ppg17.5.2-postgres"
  port: 5432
  postgresVersion: 17
  pause: false
  unmanaged: false
  instanceName: "agentic-postgres"
  replicas: 1
  affinityLabel: "postgres"
  topologyKey: "kubernetes.io/hostname"
  storageSize: "5Gi"
  
  users:
    - name: postgres
      options: "SUPERUSER"

  patroni:
    dynamicConfiguration:
      postgresql:
        pg_hba:
        - hostssl all all all md5 
        - hostssl all all all scram-sha-256
        - hostssl all all all cert
