# *******************************************************************************
# Licensed Materials - Property of HCL
# (c) Copyright HCL Technologies Ltd. 2024. All Rights Reserved.
#
# Note to U.S. Government Users Restricted Rights:
# Use, duplication or disclosure restricted by GSA ADP Schedule
# *******************************************************************************

replicaCount: 1

global:
  uno:
    engineHost: ""
    enginePort: ""
  
  hclImagePullSecret: entitledregistry

#Version Tracking
track: dev
common:
  valkey:
    valkeyPasswordSecret : "valkey-password-secret"
    valkeyPasswordSecretKey: "password"
    valkeyPassword : ""
    valkeyHost: "valkey-primary"
    valkeyPort: "6379"
    valkeyDb: "0"
    valkeyUser:
    ssl:
      enabled: "false"
      # Client Configuration for Mutual TLS
      certSecretName: ""
      #By default the SecretKey is "tls.crt", you can override it by specifying the
      certSecretKey: ""

      certKeySecretName: ""
      #By default the SecretKey is "tls.key", you can override it by specifying the
      certKeySecretKey: ""
      
      certKeyPassword: ""
      # Optional CA for Mutual TLS, If not provided the trustore CA will be used
      certCaSecretName: ""
      # By default the SecretKey is "ca.crt", you can override it by specifying the
      certCaSecretKey: ""
      # Client Configuration for One-way TLS to verify server certificate
      caSecretName: ""
      # By default the SecretKey is "ca.crt", you can override it by specifying the caSecretKey
      caSecretKey: ""
      # Whether to validate the hostname in the Valkey certificate
      hostnameValidation : "true"

  postgres:
    #The postgres User used by the application
    postgresUser: agenticbuilder
    #The postgres port
    postgresPort : "5432"
    #The postgres database name
    postgresDB: "agenticbuilder"
    #The postgres service name
    postgresService: '{{ printf "%s-%s" .Release.Name "pg-db" | trunc 21 | trimSuffix "-"  }}-primary'
    #The postgres user password
    postgresPassword: "" 
    #postgresPasswordSecretName: "{{ .Release.Name }}-postgres-password"
    #postgresPasswordSecretKey: "password"
    # Only to let the init container create the database "$postgresDB" if it does not exist
    # Postgres Client connection timeout in seconds
    connectTimeout: "60"
    # Application name to be used in the Postgres connection
    applicationName: "agenticbuilder-app"
    # Additional connection options
    options: ""
    # Client Required Authentication for Postgres connection ( scram-sha-256, md5, password, gss, sspi, ident, peer, ldap, none)
    requiredAuthentication : "scram-sha-256"

    #### Those settings are for Creating The user and the database if not present ####
    # Those values will not be used by the application, only in the initContainer for the initialization of the DB #
    initDatabases: true
    postgresAdminUserSecretName: '{{ printf "%s-%s" .Release.Name "pg-db" | trunc 21 | trimSuffix "-"  }}-pguser-postgres'
    postgresAdminUserSecretKey: "user"
    postgresAdminPasswordSecretName: '{{ printf "%s-%s" .Release.Name "pg-db" | trunc 21 | trimSuffix "-"  }}-pguser-postgres'
    postgresAdminPasswordSecretKey: "password"

    # SSL Configuration for Postgres connection
    ssl:
      enabled: "false"
      # Client Configuration for Mutual TLS
      certSecretName: ""
      #By default the SecretKey is "tls.crt", you can override it by specifying the
      certSecretKey: ""

      certKeySecretName: ""
      #By default the SecretKey is "tls.key", you can override it by specifying the
      certKeySecretKey: ""
      
      certKeyPassword: ""
      # Optional CA for Mutual TLS, If not provided the trustore CA will be used
      certCaSecretName: ""
      # By default the SecretKey is "ca.crt", you can override it by specifying the
      certCaSecretKey: ""
      # Client Configuration for One-way TLS to verify server certificate
      caSecretName: '{{ printf "%s-%s" .Release.Name "pg-db" | trunc 21 | trimSuffix "-"  }}-cluster-cert'
      # By default the SecretKey is "ca.crt", you can override it by specifying the caSecretKey
      caSecretKey: "" 

      # SSL Mode for Postgres connection ( disable, allow, prefer, require, verify-ca, verify-full)
      sslMode : "prefer"
      # Whether to validate the hostname in the Postgres certificate
      hostnameValidation : "true"

    # Additional CA secrets to be added to the truststore 
  truststore:
    agenticAdditionalCASecrets: 
  # Rest Client Configuration
  rest:
    timeout: "30"
    scheme: "https"
    # SSL Client Configuration
    ssl:
      enabled: "true"
      # Client Configuration for Mutual TLS
      certSecretName: ""
      #By default the SecretKey is "tls.crt", you can override it by specifying the
      certSecretKey: ""

      certKeySecretName: ""
      #By default the SecretKey is "tls.key", you can override it by specifying the
      certKeySecretKey: ""
      
      certKeyPassword: ""
      # Optional CA for Mutual TLS, If not provided the trustore CA will be used
      certCaSecretName: ""
      # By default the SecretKey is "ca.crt", you can override it by specifying the
      certCaSecretKey: ""
      # Client Configuration for One-way TLS to verify server certificate
      caSecretName: ""
      # By default the SecretKey is "ca.crt", you can override it by specifying the caSecretKey
      caSecretKey: "" 
      # Whether to validate the hostname in the server certificate
      hostnameValidation : "true"
  config:
    enableAuthentication : "false"
    tokenProvider: ""
    tokenProviderOIDCServerURL:  ""
    tokenProviderDefaultRealm: ""
    tokenProviderClientId: ""
    tokenProviderClientSecret: ""
    tokenProviderOpenIdDiscovery: ""
    tokenProviderOidcRealmKey: ""
    tokenProviderCertPrivateKey: ""
    tokenProviderCertPublicKey: ""
    tokenProviderCertIssuer: ""
    tokenProviderCertExtraClaims: ""
    tokenProviderExpirationTimeInS: ""
    tokenProviderEnvVar: ""
    tokenProviderMockValue: ""
    OIDCServerUrl: ""
    OIDCClientId: ""
    keycloakRealm: ""

# Pilot Core Configuration
ams:
  # Name of the core service
  name: ams
  #Image name
  imageName: hcl-agentic-ams
  proxyURL: ""
  # Deployment strategy
  port: 8080
  # The number of replicas for the core service
  replicaCount: 1
  # Resource Configuration
  config:
    exportedSchemasFolder :
  resources:
    limits:
      cpu: 1000m
      memory: 2500Mi
    requests:
      cpu: 300m
      memory: 500Mi

credentialManager:
  # Name of the core service
  name: cm
  #Image name
  imageName: hcl-agentic-cm
  proxyURL: ""
  # Deployment strategy
  strategy:
    type: Recreate
  # The port on which the core service will be exposed
  port: 8000
  # The number of replicas for the core service
  replicaCount: 1
  # Resource Configuration
  config:
    exportedSchemasFolder :
  resources:
    limits:
      cpu: 1000m
      memory: 2500Mi
    requests:
      cpu: 300m
      memory: 500Mi

runner:
  name: runner
  #Image name
  imageName: hcl-agentic-runner
  proxyURL: ""
  # The port on which the core service will be exposed
  port: 8080
  # The number of replicas for the core service
  replicaCount: 2
  hpa:
    enabled: false
    minReplicas: 1
    maxReplicas: 10
  # Resource Configuration
  config:
    stateManager: "valkey"
    executorScheme : "https"
    maxAgents: 5
    #Long term memory configuration
    memoryType: "raw" # raw or chunked
    embeddingProvider : "huggingface"
    embeddingModel : "sentence-transformers/all-mpnet-base-v2"
    embeddingDimensions : "768"
    # Leave Empty to use the installed UnO
    unoMCPBaseURL : ""

  resources:
    limits:
      cpu: 1000m
      memory: 2500Mi
    requests:
      cpu: 300m
      memory: 500Mi
uno:
  hostname: ""
  port: ""
  proxyURL: ""

telemetry:
    # To enable telemetry
    enableTelemetry: "false"
    # The endpoint for traces 
    inferenceEndpoint : ""
    # The base URL for metrics
    telemetryBaseUrl : ""
    # The service name to be used in telemetry data
    telemetryServiceName: ""
    # The interval in milliseconds for exporting telemetry data
    telemetryExportIntervalMillis: "60000"
    # Protocol to be used for metrics export (http or grpc)
    telemetryMetricsProtocol: "http"
    # Protocol to be used for trace export (http or grpc)
    telemetryTraceProtocol: "http"
    #Set to "true" to disable TLS for trace export (useful for testing with insecure endpoints), supported values: "true" or "false"
    telemetryMetricInsecure: "true"
    # Set to "true" to disable TLS for trace export (useful for testing with insecure endpoints), supported values: "true" or "false"
    telemetryTraceInsecure: "true"
    # If your telemetry exporter requires a certificate, provide it here the secret name, the field telemetryTraceInsecure must be "false" or telemetryMetricInsecure must be "false"
    telemetryExporterCertificate: ""
    # If your telemetry exporter requires a certificate, provide it here the key inside the secret that points to the certificate, the field telemetryTraceInsecure must be "false" or telemetryMetricInsecure must be "false"
    telemetryExporterCertificateKey: "tls.crt"
    # If your telemetry exporter requires headers, provide them here in the format "key1=value1,key2=value2"
    telemetryExporterHeaders: ""
    # Timeout in milliseconds for the telemetry exporter
    telemetryExporterTimeoutMillis: "10000"

certificates:
  # No enable if you want to use customized certificates
  useCustomizedCert: false 
  # The secret name containing the CA to be used to sign the certificatesSecret
  caPairSecretName:
  # To enable if you want to use a custom issuer
  customIssuer: false
  # The organization name for the certificates
  organization: hcl
  # To select the duration before the certificates are renewed
  renewBefore: 360h
  # The duration for which the certificates are valid
  duration: 2160h
  # If you are using a custom issuer, specify the issuer name
  issuerName: ""
  # The secret name of the certificates secret
  certSecretName : ""
#To add configuration for the authorization mechanism
authorization:
  #EXAMPLE HCL_AUTHORIZATION_HTTPS___PILOT_CORE_5005: <secret-name >
  certs:
    #HCL_AUTHORIZATION_HTTPS___PILOT_CORE_5005: pilot-cert
    #HCL_AUTHORIZATION_HTTPS___WAJWT_API: "{{ .unofullname }}-jwt-key"
    #HCL_AUTHORIZATION_HTTPS___WAJWT_APIGATEWAY:  "{{ .unofullname }}-jwt-key"
    #HCL_AUTHORIZATION_HTTPS___WAJWT_MCP:  "{{ .unofullname }}-jwt-key"
    #HCL_AUTHORIZATION_TEST: /opt/certs/jwt/pilot-jwt.crt

  # TO ENABLE OIDC AUTHENTICATION
  oidcServerURL: ""

# Configuration for the images used in the deployment
image:
  # The registry where the image is hosted
  repository: hclcr.io/slt/agenticbuilder
  # The tag/version of the images
  tag: 2.1.3.0
  # The Pull Policy for the images
  imagePullPolicy: Always

# to configure if you want a custom service account
serviceAccount:
  name: ""

# If you don't want to use the .Release.Name as the prefix on the name of the service specify the name here
nameOverride: ""

# To add any additional labels to the deployment
podAnnotations: {}

# To configure the security context for the deployment
podSecurityContext: {}

# To configure the node selector for the deployment
nodeSelector: {}

# To configure the tolerations for the deployment
tolerations: []

# To configure the affinity for the deployment
affinity: {}

additionalPullSecret : ""

pgdb:
  crVersion: "v1"
  image: "docker.io/percona/percona-postgresql-operator:2.7.0-ppg17.5.2-postgres"
  port: 5432
  postgresVersion: 17
  pause: false
  unmanaged: false
  instanceName: "agentic-postgres"
  replicas: 1
  affinityLabel: "postgres"
  topologyKey: "kubernetes.io/hostname"
  storageSize: "5Gi"
  
  users:
    - name: postgres
      options: "SUPERUSER"

  patroni:
    dynamicConfiguration:
      postgresql:
        pg_hba:
        - hostssl all all all md5 
        - hostssl all all all scram-sha-256
        - hostssl all all all cert
