# *******************************************************************************
# Licensed Materials - Property of HCL
# (c) Copyright HCL Technologies Ltd. 2024. All Rights Reserved.
# 
# Note to U.S. Government Users Restricted Rights:
# Use, duplication or disclosure restricted by GSA ADP Schedule
# *******************************************************************************
{{ $fullname := include "agenticbuilder.fullname" . }}
{{ $unoFullName := include "uno.fullname" . }}

apiVersion:  v1
kind:  ConfigMap
metadata: 
  name:  "{{ $fullname }}-common-configmap"
data: 
    # Postgres Database Configuration
    POSTGRES_USER: {{ tpl .Values.common.postgres.postgresUser . }}
    POSTGRES_DB : {{ tpl .Values.common.postgres.postgresDB . }}
    POSTGRES_PORT: {{ tpl (toString .Values.common.postgres.postgresPort) .  | quote}}
    POSTGRES_HOST: {{ tpl .Values.common.postgres.postgresService . | quote }}
    POSTGRES_CONNECT_TIMEOUT: {{ default "60" (tpl .Values.common.postgres.connectTimeout .) | quote }}
    POSTGRES_OPTIONS: {{ tpl .Values.common.postgres.options . | quote }}
    POSTGRES_APPLICATION_NAME: {{ default "agenticbuilder" (tpl .Values.common.postgres.applicationName .) | quote }}
    POSTGRES_SSL_MODE: {{ default "verify-ca" (tpl .Values.common.postgres.ssl.sslMode .) | quote }}
    POSTGRES_SSL_VERIFY: {{ tpl (default "true" .Values.common.postgres.ssl.enabled) . | quote }}
    POSTGRES_SSL_VERIFY_HOSTNAME: {{ tpl (default "true" .Values.common.postgres.ssl.hostnameValidation) . | quote }}
    
    # Valkey Configuration 
    VALKEY_HOST: {{ tpl (default "valkey" .Values.common.valkey.valkeyHost) . | quote }}
    VALKEY_PORT: {{ tpl (default "6379" .Values.common.valkey.valkeyPort) . | quote }}
    VALKEY_USER: {{ tpl (default "" .Values.common.valkey.valkeyUser ) . | quote }}
    VALKEY_DB: {{ tpl (default "0" .Values.common.valkey.valkeyDb) . | quote }}
    VALKEY_SSL_VERIFY: {{ tpl (default "true" .Values.common.valkey.ssl.enabled) . | quote }}
    VALKEY_SSL_VERIFY_HOSTNAME: {{ tpl (default "true" .Values.common.valkey.ssl.hostnameValidation) . | quote }}
    # Rest Client Common Configuration
    AMS_HOSTNAME : {{ tpl (printf "%s-%s" (include "agenticbuilder.fullname" .) .Values.ams.name) . | quote }}
    AMS_PORT : {{ tpl (toString .Values.ams.port) . | quote }}
    AMS_PROXY_URL : {{default "" (tpl .Values.ams.proxyURL .) | quote }}
    AMS_TIMEOUT: {{ tpl (default "30" .Values.common.rest.timeout) . | quote }}
    AMS_HOSTNAME_VALIDATION : {{ tpl (default "true" .Values.common.rest.ssl.hostnameValidation) . | quote }}
    AMS_SCHEMA : {{ tpl (default "https" .Values.common.rest.scheme) . | quote }}
    AMS_SSL_VERIFY : {{ tpl (default "true" .Values.common.rest.ssl.enabled) . | quote }}

    CREDENTIAL_MANAGER_HOSTNAME: {{ tpl (printf "%s-%s" (include "agenticbuilder.fullname" .) .Values.credentialManager.name) . | quote }}
    CREDENTIAL_MANAGER_PORT: {{ tpl (toString .Values.credentialManager.port) . | quote }}
    CREDENTIAL_MANAGER_PROXY_URL: {{ default "" (tpl .Values.credentialManager.proxyURL .) | quote }}
    CREDENTIAL_MANAGER_TIMEOUT: {{  tpl (default "30" .Values.common.rest.timeout) . | quote }}
    CREDENTIAL_MANAGER_HOSTNAME_VALIDATION: {{ tpl (default "true" .Values.common.rest.ssl.hostnameValidation) . | quote }}
    CREDENTIAL_MANAGER_SCHEMA: {{ tpl (default "https" .Values.common.rest.scheme) . | quote }}
    CREDENTIAL_MANAGER_SSL_VERIFY : {{ tpl (default "true" .Values.common.rest.ssl.enabled) . | quote }}

    UNO_HOSTNAME: {{ tpl .Values.uno.hostname . | quote }}
    UNO_PORT: {{ default "8443" (tpl (toString .Values.uno.port) .) | quote }}
    UNO_PROXY_URL: {{ default "" (tpl .Values.uno.proxyURL .) | quote }}
    UNO_TIMEOUT: {{ tpl (default "30" .Values.common.rest.timeout) . | quote }}
    UNO_HOSTNAME_VALIDATION: {{ tpl (default "true" .Values.common.rest.ssl.hostnameValidation) . | quote }}
    UNO_SCHEMA: {{ tpl (default "https" .Values.common.rest.scheme) . | quote }}
    CREDENTIAL_MANAGER_SSL_VERIFY : {{ tpl (default "true" .Values.common.rest.ssl.enabled) . | quote }}

    # SSL Configuration
    TRUSTSTORE_CA_FOLDER_PATH: "/ca"

    TOKEN_PROVIDER: {{ tpl (default "STARLETTE" .Values.common.config.tokenProvider) . }}
    TOKEN_PROVIDER_OIDC_SERVER_URL: {{ tpl .Values.common.config.tokenProviderOIDCServerURL . | quote }}
    TOKEN_PROVIDER_DEFAULT_REALM: {{ tpl (default "uno" .Values.common.config.tokenProviderDefaultRealm) . | quote }}
    TOKEN_PROVIDER_CLIENT_ID: {{ tpl .Values.common.config.tokenProviderClientId . | quote }}
    TOKEN_PROVIDER_CLIENT_SECRET: {{ tpl .Values.common.config.tokenProviderClientSecret . | quote }}
    TOKEN_PROVIDER_OPEN_ID_DISCOVERY: {{ tpl (default "/.well-known/openid-configuration" .Values.common.config.tokenProviderOpenIdDiscovery) . | quote }}
    TOKEN_PROVIDER_OIDC_REALM_KEY: {{ tpl (default "realms/" .Values.common.config.tokenProviderOidcRealmKey) . | quote }}
    
    # It can be a path to a file or the content of the file
    TOKEN_PROVIDER_CERT_PRIVATE_KEY: {{ tpl (default "" .Values.common.config.tokenProviderCertPrivateKey) . | quote }}
    TOKEN_PROVIDER_CERT_PUBLIC_KEY: {{ tpl (default "" .Values.common.config.tokenProviderCertPublicKey) . | quote }}

    TOKEN_PROVIDER_CERT_ISSUER: {{ tpl .Values.common.config.tokenProviderCertIssuer . | quote }}
    TOKEN_PROVIDER_CERT_EXTRA_CLAIMS: {{ tpl .Values.common.config.tokenProviderCertExtraClaims . | quote }}
    TOKEN_PROVIDER_EXPIRATION_TIME_IN_S: {{ tpl (default "3600" .Values.common.config.tokenProviderExpirationTimeInS) . | quote }}
    TOKEN_PROVIDER_ENV_VAR: {{ tpl (default "HCL_AUTH_TOKEN" .Values.common.config.tokenProviderEnvVar) . | quote }}
    TOKEN_PROVIDER_MOCK_VALUE: {{ tpl .Values.common.config.tokenProviderMockValue . | quote }}
    # Telemetry Configuration
    TELEMETRY_METRICS_PROTOCOL: {{ tpl (default "http" .Values.telemetry.telemetryMetricsProtocol) . | quote }}
    TELEMETRY_TRACE_PROTOCOL: {{ tpl (default "http" .Values.telemetry.telemetryTraceProtocol) . | quote }}
    OTEL_EXPORTER_OTLP_METRICS_INSECURE: {{ tpl (default "false" .Values.telemetry.telemetryMetricInsecure) . | quote }}
    OTEL_EXPORTER_OTLP_TRACES_INSECURE: {{ tpl (default "false" .Values.telemetry.telemetryTraceInsecure) . | quote }}
    {{- if or ( eq (tpl .Values.telemetry.telemetryTraceInsecure .) "false")  (eq (tpl .Values.telemetry.telemetryMetricInsecure .) "false") }}
    OTEL_EXPORTER_OTLP_CERTIFICATE: {{ printf "/ca/otel/%s.crt" (tpl .Values.telemetry.telemetryExporterCertificate . ) }}
    {{- end }}
    OTEL_EXPORTER_OTLP_HEADERS: {{ tpl .Values.telemetry.telemetryExporterHeaders . | quote }}
    OTEL_EXPORTER_OTLP_TIMEOUT: {{ tpl .Values.telemetry.telemetryExporterTimeoutMillis . | quote }}
    
    # Authorization Configuration 
    ENABLE_AUTHENTICATION: {{ tpl (default "true" .Values.common.config.enableAuthentication) . | quote }}
    OIDC_SERVER_URL: {{ tpl .Values.authorization.oidcServerURL . | quote }}
    KEYCLOAK_REALM: {{ tpl .Values.common.config.keycloakRealm . | quote }}
