######################################################################
# Licensed Materials Property of HCL*
# (c) Copyright HCL Technologies Ltd. 2024. All rights reserved.
#
# * Trademark of HCL Technologies Limited
######################################################################

global:
 
app:
  name: "rag-service"  # Application name
  replicas: 1  # Number of replicas
  
# Configuration settings for the application
config:
  #EXAMPLE OF GOOGLE GCP KEY MANDATORY IF CLOUD 
  gcp_key: |-
      {
        "type": "service_account",
        "project_id": "",
        "private_key_id": ""
      }

certificates:
  # Use customized certificate
  useCustomizedCert: false
  # Secret name containing the CA to be used to sign the certificates
  # If left empty, it will create a default CA
  caPairSecretName: 
  # Use a custom issuer
  customIssuer: false
  # Organization name for the certificates
  organization: hcl
  # Duration before the certificates are renewed
  renewBefore: 360h
  # Duration for which the certificates are valid
  duration: 2160h
  # Secret name for the certificate
  certSecretName: "{{ .Release.Name }}-rag-certificate"
  # Issuer name if using a custom issuer
  issuerName:

serviceAccount: ""
additionalPullSecret : ""

# Container configuration
container:
  name: "rag-service-container"  # Container name
  image: "hcl-aipilot-rag-backend" 
  registry: "hclcr.io/slt/uno"  # Image name
  tag: 2.1.0.0  # Image tag
  imagePullPolicy: "Always"  # Image pull policy
  port: 9999  # Container port

vectordb:
  # The name of the service of the pgvector
  name: '{{ printf "%s-%s" .Release.Name "pg-db" | trunc 21 | trimSuffix "-"  }}-primary'

# ConfigMap settings
configMap:
  name: "rag-service-config"  # ConfigMap name


probe:
  tcpSocket:
    port: 9999  # Port for TCP socket probe
  initialDelaySeconds: 60  # Initial delay for probe
  periodSeconds: 10  # Probe period
  timeoutSeconds: 20  # Probe timeout
  successThreshold: 1  # Success threshold
  failureThreshold: 6  # Failure threshold

# Resource limits and requests
resources:
  limits:
    cpu: "1"  # CPU limit
    memory: "2G"  # Memory limit
  requests:
    cpu: "200m"  # CPU request
    memory: "256Mi"  # Memory request
hpa:
  name: "rag-service"  # HPA name
  deploymentName: "rag-service"  # Name of the deployment to scale
  minReplicas: 1  # Minimum number of replicas
  maxReplicas: 2  # Maximum number of replicas
  metricName: "cpu"  # Name of the resource to measure
  averageUtilization: 50  # Target average utilization percentage

### Authorization/Authentication settings ###
authorization:
  #EXAMPLE HCL_AUTHORIZATION_HTTPS___PILOT_CORE_5005: <secret-name >
  certs:
    #HCL_AUTHORIZATION_HTTPS___PILOT_CORE_5005: pilot-cert
    #HCL_AUTHORIZATION_HTTPS___WAJWT_API: /opt/certs/jwt/uno-jwt.crt
    #HCL_AUTHORIZATION_HTTPS___WAJWT_APIGATEWAY: /opt/certs/jwt/uno-jwt.crt
    #HCL_AUTHORIZATION_TEST: /opt/certs/jwt/pilot-jwt.crt

  # TO ENABLE OIDC AUTHENTICATION
  #oidcServerURL: "https://hcl-uno-keycloak-ssl:8443"

# Service configuration
service:
  name: "rag-service"  # Service name
  port: 9999  # Service port
  targetPort: 9999  # Target port on the container
  type: "ClusterIP"  # Service type

podSecurityContext: {}

postgres:
  postgresUser: ragUser
  #The postgres port
  postgresPort : "5432"
  #The postgres database name used by the application
  postgresDB: "vector_db"
  #The postgres service name
  postgresService: '{{ printf "%s-%s" .Release.Name "pg-db" | trunc 21 | trimSuffix "-"  }}-primary'
  connectTimeout: "60"
  # Application name to be used in the Postgres connection
  applicationName: "rag-app"
  # Additional connection options
  options: ""
  # Client Required Authentication for Postgres connection ( scram-sha-256, md5, password, gss, sspi, ident, peer, ldap, none)
  requiredAuthentication : "scram-sha-256"
  #The postgres user password
  postgresPassword: "" 
  #postgresPasswordSecretName: '{{ .Release.Name }}-postgres-password'
  #postgresPasswordSecretKey: "password"
  # Only to let the init container create the database "$postgresDB" if it does not exist
  initDatabases: true
  postgresAdminUserSecretName: '{{ printf "%s-%s" .Release.Name "pg-db" | trunc 21 | trimSuffix "-"  }}-pguser-postgres'
  postgresAdminUserSecretKey: "user"
  postgresAdminPasswordSecretName: '{{ printf "%s-%s" .Release.Name "pg-db" | trunc 21 | trimSuffix "-"  }}-pguser-postgres'
  postgresAdminPasswordSecretKey: "password"
  
  ssl:
    enabled: "true"
    # Client Configuration for Mutual TLS
    certSecretName: ""
    #By default the SecretKey is "tls.crt", you can override it by specifying the
    certSecretKey: ""
    certKeySecretName: ""
    #By default the SecretKey is "tls.key", you can override it by specifying the
    certKeySecretKey: ""
    
    certKeyPassword: ""
    # Optional CA for Mutual TLS, If not provided the trustore CA will be used
    certCaSecretName: ""
    # By default the SecretKey is "ca.crt", you can override it by specifying the
    certCaSecretKey: ""
    # Client Configuration for One-way TLS to verify server certificate
    caSecretName: '{{ printf "%s-%s" .Release.Name "pg-db" | trunc 21 | trimSuffix "-"  }}-cluster-cert'
    # By default the SecretKey is "ca.crt", you can override it by specifying the caSecretKey
    caSecretKey: "" 
    # SSL Mode for Postgres connection ( disable, allow, prefer, require, verify-ca, verify-full)
    sslMode : "prefer"
    # Whether to validate the hostname in the Postgres certificate
    hostnameValidation : "true"

pgdb:
  crVersion: "v1"
  image: "docker.io/percona/percona-postgresql-operator:2.7.0-ppg17.5.2-postgres"
  port: 5432
  postgresVersion: 17
  pause: false
  unmanaged: false
  instanceName: "agentic-postgres"
  replicas: 1
  affinityLabel: "postgres"
  topologyKey: "kubernetes.io/hostname"
  storageSize: "5Gi"
  
  users:
    - name: postgres
      options: "SUPERUSER"

  patroni:
    dynamicConfiguration:
      postgresql:
        pg_hba:
        - hostssl all all all md5 
        - hostssl all all all scram-sha-256
        - hostssl all all all cert
